[Desktop Entry]
Version=1.0
Type=Application
Name=openWMail
Comment=The missing desktop client for Gmail & Google Inbox
Exec=/opt/openwmail/openWMail
Icon=/opt/openwmail/resources/app.png
Categories=Network;Email;
